body {
    font-family: "Roboto", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    width: 70%;
    margin: 0 auto;
}

/* 1st section */

body > div:nth-of-type(1) {
    background-color:#1F2937;
}

/* header */
.header {
    display: flex;

}

.wwf-logo {
    height: 100px;
    width: auto;
}

.nav-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    color: #E5E7EB;
}


/* main */

.main {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
}

.main div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.main p {
    color: white;
}

.main-text {
    font-size: 48px;
    font-weight: 600;
    color: #f9faf8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

#donate-now {
    color: white;
    text-decoration: none;
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 5px;
}

/* 2nd Section */

.top-news-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px 0;
}

#info-cards {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

#info-cards div {
    width: 350px;
}

#info-cards img {
    width: 350px;
    height: auto;
}

#info-cards div p {
    text-align: center;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
}


/* 3rd Section */

body > div:nth-of-type(3) {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    align-items: center;
}

#inspiring-quote {
    width: 50%;
    margin: 0 auto;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #1F2937;
    font-weight: 100;
}

#inspiring-quote p {
    text-align: right;
    padding-right: 100px;
    font-weight: 400;
}


/* 4th Section */

body > div:nth-of-type(4) {
    height: 400px;
    display: flex;
    align-items: center;
}

#call-to-action {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#call-to-action div:nth-of-type(1) {
    width: 60%;
    padding: 40px 20px;
}

#call-to-action div:nth-of-type(1) p:nth-of-type(1) {
    font-size: 30px;
}


#call-to-action a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 16px;
}

/*  footer */
footer {
    background-color: #1F2937;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

footer > p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}