/* General style requirements */
body {
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-align: center;
}

button {
    text-transform: capitalize;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

.modal,
footer {
    background-color: #1F2937;
}

#animal-picture {
    height: 500px;
    width: auto;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.updates,
.action {
    background-color: #ffff;
    color: #1F2937;
}

.updates h2 {
    font-size: 36px;
    font-weight: bolder;
}

.general-container p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.general-container p:nth-child(2),
ul {
    font-size: 18px;
    color: #E5E7EB;
}

/* Modal Container */
.modal-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 25px;
}

/* General */
.general {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}

.general-container {
    width: 600px;
}

#animal-picture {
    height: 400px;
    width: auto;
    border-radius: 20px;
}

.general-buttons button {
    padding: 15px 30px;
    color: #FFFF;
    background-color: #3882F6;
    border: 1px solid #FFFF;
    width: 150px;
    margin: 20px;
}